body {
    font-family: 'Google Sans', sans-serif;
    justify-content: center;
    display: flex;
}
.card {
    max-width: 480px;
    border: 2px solid black;
    box-sizing: border-box;
}
.card-content {
    padding: 0px 16px;
}
.card-content h1 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 3rem;
    line-height: 1;
}
.card-content p {
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1.5;
}
.card img {
    width: 100%;
    display: block;
}