* {
    box-sizing: border-box;
}
body {
    font-family: 'Google Sans', sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid blue;
}
.card {
    display: flex;
    align-items:center;
    gap: 60px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
}
.image-box img {
    display: block;
    width: 380px;
    height: auto;
    border-radius: 20px;
    box-shadow: 16px 16px 0px skyblue;
}

.content h1 {
    font-size: 32px;
    margin: 0 0 20px 0;
    line-height: 1.1;
}
.content p {
    font-size: 12px;
    margin: 0 0 14px 0;
    line-height: 1.5;
}
.content button {
    background-color: lightskyblue;
    border-radius: 6px;
    padding: 8px 18px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 4px 4px 0px;
}